<html ng-app="githubreposearcher">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/styles.css" type="text/css" charset="utf-8">
    <title>Angular GitHub repository searcher</title>
  </head>
  <body>
    <div class="container theme-showcase" ng-clock ng-controller="SearchController" role="main">
      <div class="well">
        <h1>{{ title }}</h1>
        <p>{{ introduction }}</p>
      </div>

      <div class="bar">
        <form ng-submit="searchRepo()">
          <input type="text" ng-model="query" placeholder="Enter a keyword" value="">
          <button type="submit" class="btn btn-lg btn-primary">{{ searchReposText }}</button>
        </form>
      </div>

      <div ng-class="{ 'loading': loadingForm == true }">
        <table class="table table-striped" ng-show="withResults">
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Issues</th>
            <th>Forks</th>
            <th>Watchers</th>
          </tr>
          <tr ng-repeat="repo in repos">
            <td><a href="{{ repo.html_url }}" target="_blank">{{ repo.full_name }}</a></td>
            <td>{{ repo.description }}</td>
            <td>{{ repo.open_issues }}</td>
            <td>{{ repo.forks_count }}</td>
            <td>{{ repo.watchers_count }}</td>
          </tr>
        </table>
      </div>

    </div>
    <script type="text/javascript" src="bower_components/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/controllers/searchController.js"></script>
    <script type="text/javascript" src="app/factories/githubFactory.js"></script>
  </body>
</html>
